@media screen and (min-width: 1200px) {
    .detail-first-line {
        font-size: 24px;
    }

    .weather-details {
        padding: 1.2%;
    }

    .detail-middle, .detail-middle-bottom {
        margin-bottom: 1.2%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1199px) {
    .weather-details {
        padding: 1.2%;
    }

    .detail-middle-bottom {
        margin-bottom: 1.2%;
    }

    .detail-first-line {
        font-size: 24px;
    }
}

@media screen and (min-width: 901px){
    .field:hover {
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
    }
}

@media screen and (max-width: 900px) {
    .weather-details {
        width: 98%;
        padding: 1.2%;
    }

    .table {
        display: flex;
        flex-wrap: wrap;
    }

    .field {
        position: relative;
        border: 1px solid black;
        border-radius: 20px;
        width: calc(50% - 2.5px);
        margin-bottom: 1vw;
    }

    .field:nth-child(odd) {
        margin-right: 5px;
    }

    .field:last-child {
        margin-right: auto;
        margin-left: auto;
    }

    .pic{
        width: 25%;
    }

    .date{
        font-size: 20px;
    }

    .description,
    .pressure,
    .humidity,
    .wind_speed{
        font-size: 15px;
    }

    .upper{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .temp_data{
        display: flex;
        flex-direction: row;
        width: 25%;
        align-items: center;
    }

    .temp_actual{
        font-size: 45px;
        height: auto;
    }

    .feelslike{
        position: absolute;
        right: 50px;
        font-size: 15px;
        align-self: flex-start;
        padding-top: 23px;
    }

    .temp_feel{
        position: absolute;
        right: 50px;
        font-size: 15px;
        height: auto;
    }

    .bottom{
        display: flex;
        flex-wrap: wrap;
    }

    .description,
    .humidity{
        width: 50%;
    }
}

.weather-details {
    display: flex;
    flex-direction: column;

    max-width: 900px;
    min-width: 700px;

    max-height: 400px;
    margin-right: auto;
    margin-left: 1vw;
    margin-top: 2vw;

    border: 1px solid black;
    border-radius: 20px;
}

.detail-first-line,
.detail-second-line,
.detail-middle,
.detail-middle-bottom,
.detail-bottom-hours {
    display: flex;
    flex-direction: row;
}

.details-title,
.now,
.previous,
.detail-description-msg,
.detail-feel-like {
    font-family: OpenSans-Regular;
    padding-right: 10px;
}

.details-city, .currenttime, .previous-temp {
    font-family: OpenSans-Bold;
}

.detail-temp-big {
    display: flex;
    font-family: OpenSans-Bold;
    align-items: center;
    font-size: 50px;
}

.detail-feel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-feel-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detail-feel-temp {
    font-family: OpenSans-Bold;
}

.detail-wind,
.detail-humidity,
.detail-pressure,
.detail-water-temp {
    margin-right: 2vw;
    font-family: OpenSans-Bold;
}

.detail-bottom-hours {
    display: flex;
    flex-direction: row;
    width: 95%;
    align-self: center;
}

.detail-day {
    display: flex;
    flex-direction: column;
}

.detail-day-time, .detail-day-temper {
    font-family: OpenSans-Regular;
    margin-left: auto;
    margin-right: auto;
}

.detail-middle {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.detail-pic-container {
    display: flex;
    width: 15%;
    justify-self: center;
}

.hidden {
    display: none;
}

.now, .previous {
    padding-right: 1vw;
}

.currenttime {
    padding-right: 2vw;
}

.arrow-container {
    align-self: center;
    width: 100px;
}

.arrow-container-left {
    margin-right: 2vw;
}

.arrow-container-right {
    margin-left: 2vw;
}